Hhtml{
  background: #f5f7f8;
  font-family: system-ui;
  -webkit-font-smoothing: antialised;
  padding: 20px 0;
}

header{
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}

.container{
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

/* resposnsive */

@media (min-width: 30em){
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 60em) {
  .container{
    grid-template-columns: repeat(4, 1fr);
  }
}

.card{
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: colomn;
  min-height: 100%;
  posiyion: relative;
  top: 0;
  transition: all 0.1s ease-in;
}

/*card */
.section-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 48px;
  width: 80%;
  margin: 60px auto;

  background-color: orangered;
}
.card {
  background-color: #fff;
  box-shadow: 0 20px 40px rgba(0,0,0 .2);
}
.card__img
{
  width: 100%;
  display:block;
}
  

.card:hover{
  top: -2;
  box-shadow: 0 4px 5px rgb(0, 0, 0, 0.2);
}

.card .thumb{
  padding-bottom: 60%;
  background-size: cover;
  background-position: center;
}

.card article{
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h1{
  font-size: 20px;
  margin: 0;
  color: #333;
}

.card span{
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}

.card p{
  flex: 1;
  line-height: 1.4;
}

@media (min-width: 60em) {
  .artikel-1{
    grid-column: 1/span 2;
  }
  
  .artikel-1 h1{
      font-size: 24px;
  }
}
 

/* BERITA */

a{
  color:#cc6060;
  text-decoration: none;
  }

a:hover{
     color: #519ac5fc;
}
.logo-wrapper{
  text-transform: uppercase;
  padding: 30px 0px;
  
}
.menu{
  padding-left: 0px;
  background: #519ac5fc;
}
.menu-items .active{
  background: #2483d6;
}
.menu-items .active{
  background: #2483d6;
  
}

.menu .menu-items a{
  text-decoration: none;
  color: #fff;
  padding: 10px 30px;
  display: block;
  display: flex;
  flex-direction: row;
} 
.menu .menu-items a:hover{
  background: #2483d6;
}



/* Halaman */
*, html, body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.fContainer{
  display: flex;
  /* justify-content: center;
  align-items: center; */
  width: 100%;
  height: 100vh;
  background-color: lightslategray;
}

.wrapper{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  font-size: 20px;
  padding: 15px;
  width: 100%;
  height: 80px;
  background-color: #222;
  box-shaddow: 0 7px 15px 0 rgba(0, 0, 0, 0,5);
}
.brand{
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  padding: 15px;
  text-transform: capitalize;
}

.firstname {
  color: white;
  font-weight: 700;
}
.lastname{
  color: crimson;
  padding-left: 4px;
}

.navigation{
  display:flex;
  justify-content: center;
  align-items: center;
}

.navigation>li {
  list-style-type: none;
  padding: 15px;
}

.navigation>li>a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation>li>a:hover {
  color: crimson;
  transition: all .3s ease-in-out
}

.active_{
  background-color: crimson;
  color: white;
  padding: 15px;
}

.active_:hover {
  color: white !important;
}